<a href="https://colab.research.google.com/github/ify-crypto/copy-of-python/blob/main/Copy_of_Introduction_to_Python_Flaxwardens.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('my name is Ifeyinwa and i am a student of Data science')

my name is Ifeyinwa and i am a student of Data science

###THIS IS MY FIRST PYTHON CLASS

In [ ]:
name = 'Ifeyinwa'
age = 40



print(name)
print(age)

Ifeyinwa
40

In [ ]:
name = 'Ifeyinwa'
age = 40
course = 'python'

print(f'my name is{name} and i am {age}years old and i am studing {course}' )

my name isIfeyinwa and i am 40years old and i am studing python

In [ ]:
name = input('please enter your name :')
age = int(input('please enter your age :'))



print(f'my name is{name} and i am {age}years old and i am studing {course}' )

please enter your name :Ifeyinwa
please enter your age :40
my name isIfeyinwa and i am 40years old and i am studing python

In [ ]:
print('Welcome to my page.please fill out the necessary information')
name = input('please enter your name :')
course =input('please enter your course :')
school = input('please enter your school:')
school_fees =float(input('please  enter your school_fees :') )



print(f'my name is{name} and i am {age}years old and i am in {school} and i am studing{course} and my school_fees is{school_fees}')

Welcome to my page.please fill out the necessary information
please enter your name :Ifeyinwa
please enter your course :Statistics
please enter your school:Nnamdi azikiwe University
please  enter your school_fees :40000.896
my name isIfeyinwa and i am 40years old and i am in Nnamdi azikiwe University and i am studingStatistics and my school_fees is40000.896

####Arithmetic Operators




*   Addition +
*   Subtraction -
*   Multiplication *
*   Division /
*   Modulus %
*   exponentiation **
*   Floor Division //

In [ ]:
x = 5
y = 3

In [ ]:
#addition
result = x + y
print(result)

8

In [ ]:
#subtraction
result = x - y
print(result)

2

In [ ]:
#multiplication
result = x * y
print(result)

15

In [ ]:
# exponentiation
result = x ** y
print(result)

125

In [ ]:
age = int(input('enter your age:'))
height = int(input('enter your height :'))

result = age + height
print(result)

enter your age:40
enter your height :7
47

In [ ]:
#subtraction
result = age - height
print(result)

33

In [ ]:
#multiplication
result = age * height
print(result)

280

In [ ]:
#division
result = age / height
print(result)

5.714285714285714

In [ ]:
#modulus
result = age % height
print(result)

5

In [ ]:
#exponentiation
result = age ** height
print(result)

163840000000

In [ ]:
#Floor Division
result = age // height
print(result)

5